.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
   }

   @media screen and (max-width: 768px){
    .products{
        grid-template-columns: 1fr 1fr;
    }
   }
    
    @media screen and (max-width: 500px){
     .products{
          grid-template-columns: 1fr;
     }
    }