.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0 10px;
    height: 110vh;
    width: 100vw;

}

.admin .container {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100%;
    width: 95%;
    border-radius: 10px;
}
.admin .left_container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: white;
    font-size: 120%;
    font-weight: bold;
    align-items: center;
    text-align: center;

    background-color: blue;
}
.left_container h4 {
    margin: 30px 0;
    font-weight: bolder;
    font-size: 125%;
}
.left_container .content {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.left_container .content div {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    height: 50px;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}
.left_container .content div a {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.left_container .content div:hover {
    background-color: white;
    color: black;
}
