.dashboard .total {
    background-color: #e44077;
    color: white;
    height: 120px;
    min-width: 220px;
    font-weight: bold;
    padding-top: 20px;
    border-radius: 10px;
}
.dashboard .total:hover {
    opacity: 0.8;
    cursor: pointer;
}