.carousel_card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}
.carousel_card .contents{
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.carousel_card h6{
    font-size: 16px;

}

.carousel_card .text{
    font-size: 50px;
    display: flex;
    flex-direction: column;

}

.carousel_card .button{

background-color: black;
padding: 5px;
color: white;
width: 50%;
text-decoration: none;
text-align: center;
}
@media only screen and (max-width: 768px) {
    .carousel_card .text{
        font-size: 30px;
    }
    .carousel_card {
        text-align: center;
        height: 50vh;
    }
    .carousel_card .contents{
        width: 100%;
        
        
    }
    .carousel_card .button{
        width: 50%;
        align-self: center;
        margin-bottom: 30px;
    }
    
   
  }