.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dashboard .totals{
    display: flex;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 2px;
    justify-content: center;
}