.auth{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.auth_image, .form_div{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247,247,247);
}
.form_div{
    background-color: white;
}
.auth_image img{
    height: 100vh;

}
@media only screen and (max-width: 768px) {
    .auth{
        grid-template-columns: 1fr;
    }
    .auth_image{
        display: none;
    }
    .form_div{
        height: 100%;
    }
}
