.reviews {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 30px;

}
.review{
    margin: 10px;
    text-align: left;
}
.review h2 {
    color: brown;
}